/*
    Users page styles
*/

#customer-table tbody tr {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.sticky-action {
    position: sticky;
    right: 0;
    background: #f8f8f8;
    z-index: 999;
    box-shadow: -2px 0 5px -2px rgba(0, 0, 0, 0.12);
}

.table-card {
    min-height: 50vh;
    max-height: 90vh;
}

th {
    position: sticky !important;
    top: 0;
    background-color: #f8f9fa;
    z-index: 998;
}

.custom-table {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: auto !important;
    max-height: 72vh !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .dt-buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .dataTables_filter,
    .dataTables_length {
        text-align: center;
        width: 100%;
    }

    .dataTables_paginate {
        justify-content: center;
        width: 100%;
    }

    .dataTables_info {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .table-card {
        max-height: 100%;
    }
}
