@font-face {
    font-family: 'Alphakind';
    src: url('../fonts/Alphakind.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamThin';
    src: url('../fonts/Gotham-Thin.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('../fonts/PALAI.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Palatino';
    src: url('../fonts/PALABI.TTF') format('truetype');
    font-weight: bold;
    font-style: italic;
}
