@font-face {
    font-family: 'Palatino';
    src: url('../fonts/PALA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('../fonts/PALAB.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('../fonts/PALAI.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Palatino';
    src: url('../fonts/PALABI.TTF') format('truetype');
    font-weight: bold;
    font-style: italic;
}
