$primary: #0c5a40;
$white: #ffffff;
$text: #000022;
$gray: #cacacc;
$black: #000022;

$normal-gradient: linear-gradient(#d5eeeb 0%, #8aced0 100%);
$reverse-gradient: linear-gradient(#8aced0 0%, #d5eeeb 100%);
