$primary: #FFC700;
$secondary: #063162;
$white: #ffffff;
$text: #000022;
$gray: #cacacc;
$black: #000022;

$main-font: 'LOccitane Sans';

$background: #51CF66;

$baseFontSize: 14px;
$baseLineHeight: 1.5;

