//colors
$primary: #152787;
$white: #ffffff;
$gray: #cacacc;
$black: #000022;
$secondary: #ffffffc5;

$card-text: #61646B;
$text: $white;

// main font
$font-family: 'Palatino, sans-serif';

//Text size

$paragraph: 16px;
$heading: 24px;
$small-text: 12px;

$line-height: 1.2;

// buttons
$button-height: 50px;
$button-width: 200px;
$button-radius: 40px;
$button-padding: 10px 20px;
$button-font-size: 16px;
$button-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


