@import "variables";
@import "fonts";
@import "bootstrap/scss/bootstrap";
@import "buttons";
@import "modal";
@import "utilities";
@import "custom/ipad.scss";
@import "main";
@import "brand-styles";
@import "animations";
@import 'pages/index';


.join-main
{
    background-image: url('../images/01_landing.webp');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
}