//All specific styles for the brand should be placed here
.branding {
    width: 100%;
    height: auto;

    img {
        //set the width and height of the logo
        height: auto;
        min-width: 208px;
        max-width: 63vw;
        object-fit: contain;
    }
}

.map-page {
    .map {
        width: 95vw;
        height: auto;
        position: relative;
        margin: 0 auto;
        margin-top: 10vh;

        .map-img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .map-pin {
            display: block;
            width: 13vw;
            height: 13vw;
            font-weight: 700;
            font-size: 14px;
            text-decoration: none;
            text-align: center;
            position: absolute;

            &.station-1 {
                bottom: 16vw;
                left: 4vw;
                z-index: 999;
            }

            &.station-2 {
                bottom: 43vw;
                left: 66vw;
                z-index: 999;
            }

            &.station-3 {
                bottom: 48vw;
                left: 46vw;
                z-index: 999;
            }

            &.station-4 {
                bottom: 38vw;
                left: 56vw;
                z-index: 999;
            }

            &.station-5 {
                bottom: 56vw;
                left: 76vw;
                z-index: 999;
            }

            &.station-6 {
                bottom: 22vw;
                left: 46vw;
                z-index: 999;
            }
        }
    }
}

.pledge-selection {
    gap: 15px;

    .radio-image {
        padding: 0;

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            padding: 20px 10px;
            text-align: center;

            cursor: pointer;
            background-color: #ffffff1a;
            border-radius: 18px;
            transition: transform 0.2s ease-in-out, outline 0.2s ease-in-out;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }

            p {
                font-size: 14px;
                padding: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .radio-image input:checked + label {
        outline: 2px solid #ffffff8c;
        border-radius: 18px;
        transform: scale(1.02);
    }
}


.bubble-container {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    position: relative;

    .bubble {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
    }

    .bubble-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; /* Use explicit white instead of variable for testing */
        font-size: 25px;
        // break text
        white-space: pre-wrap;
        word-break: break-word;
        text-align: center;
        z-index: 10; /* Ensure text is above the bubble image */
    }

    #selectedOption {
        width: 100%;
        height: 100%;
        padding: 0 50px;

    }
}
