// filepath: c:\xampp8.1\htdocs\rohtov2\resources\sass\fonts.scss
@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/Myriad Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
