//this is the main stylesheet for the application

// import _variables.scss
@import "variables";

// reset some styles
@import "base";

body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: none;
}


.iti
{
    width:100% !important;
}