.main-background {
    background-image: url("../images/main_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-dutch {
    padding: 7px 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s ease;
    min-width: 150px;
    display: inline-block;
    font-family: 'HvDTrial Brevia ExtraBlack';

    &-primary {
        background-color: #0060ac;
        color: #ffffff;
        border: 3px solid #6eb0e0b0;
        outline: 4px solid #ffffff;
        box-shadow: 0 4px #003f7f;
    }
    &-outlined {
        background-color: #ffffff;
        color: #0060AC;
        border: 3px solid #6eb0e0d3;
        outline: 4px solid #003f7f;
        box-shadow: 0 4px #003f7f;
    }
}

.heading-dutch {
    font-size: 40px !important;
    color: #ffffff;
    padding: 0;
    -webkit-text-stroke: 1px #0A608E;
    text-shadow: 0px 4px 0 #0A608E;
    font-family: "HvDTrial Brevia ExtraBlack" !important;

    &.small {
        font-size: 27px !important;
        text-shadow: 0px 2px 0 #0A608E;
    }

    &.medium {
        font-size: 35px !important;
        text-shadow: 0px 3px 0 #0A608E;
    }
}

.back-btn {
    position: absolute;
    top: 75px;
    left: 52px;
    z-index: 1000;

    img {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}


.with-scroll {
    width: 100%;
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 50px;
}
