//add font to all elements
.content-box {
    font-family: 'Myriad Pro';
    .ocean-img {
        width: 100%;
        height: 332px;
        margin-top: 3vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info-img {
        width: 100%;
        height: 66px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
